*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background: none;
}

:root {
    --bg-color: #F9F7F3;
    --text-color: #272727;
    --main-color: #9197AE;
    --icon-color: #754ef9;
    --white-color: #fdfdfd;
    --shadow-color: rgba(0, 0, 0, .2);
  }

#app {
    width: 90%;
    max-width: 470px;
    background: linear-gradient( 160deg, #cce3de, #a4c3b2, #6b9080);
    color: white;
    margin: 40px auto;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
    font-size: 16px;
}

.holder {
    margin-bottom: 10px;
}

.headline {
    font-size: 23px;
    font-weight: 700;
}

.zip {
    align-items: center;
    padding:30px;
}

.zip input {
    margin-top: 10px;
}

.zip input{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 7px;
    text-align: center;
    padding: 3px 25px;
    margin-left: 5vw;
    font-size: 16px
}

.feel textarea {
    width: 100%;
    margin-top: 10px;
    border-radius: 15px;
    text-align: center;
    padding-top: 10px;
    font-size: 16px;
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Koulen&family=Lato&family=Nunito&family=Playfair+Display:ital@1&family=Prata&family=Raleway:ital,wght@1,100&family=Roboto&family=Roboto+Condensed&family=Teko&display=swap');

#generate {
    display: inline-block;
    padding: 0.3rem 2rem;
    background: var(--main-color);
    border-radius : .6rem;
    box-shadow: 0 .2rem .5rem var(--shadow-color);
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: var(--white-color);
    letter-spacing: .1rem;
    font-weight: 600;
    border: .2rem solid transparent;
    transition: .5s ease;
}

#generate:hover{
    background: transparent;
    color: var(--white-color);
    border-color: var(--white-color);
}

.title {

}

#entryHolder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 90%;
    max-width: 470px;
    margin-top: 20px;
    margin: 20px;
    background: white;
    border-radius: 20px;
    padding: 15px 15px 20px 20px;
    text-align: center;
    font-size: 16px;

}

#date {
    margin-top: 15px;
    color: #0a0101;
    font-weight: bold;

}

#temp {
    margin-top: 10px;
    color: #0a0101;
    font-weight: bold;
}

#country {
    margin-top: 10px;
    color: #0a0101;
    font-weight: bold;
}

#content {
    margin-top: 10px;
    color: #0a0101;
    font-weight: bold;
}